/* 
For spacial visibility of elements
* {
    border: 1px solid;
} */

h1, h3 {
    font-family: monospace;
    font-weight: 400;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#options {
    display: flex;
    align-items: center;
    gap: 30px;
}

#grid {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px;
    height: 460px;
    width: 500px;
}

.cell.active {
    background-color: black;
}